.btn-wrapper {
    width: 100%;
    > .btn {
        @include h6-1;
        padding: 15px 30px;
        border-radius: 30px;
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        transition: all ease-in-out 300ms;
        cursor: pointer;
        padding: 10px 60px; 
        text-align: center;

        &-white {
            @extend .btn;
            background-color: $white;
            color: $navygreen !important;

            &:hover {
                background-color: $navygreen;
                color: $white !important;
            }
        }
        &-green {
            @extend .btn;
            background-color: $green;
            color: $white !important;

            &:hover {
                background-color: $navygreen;
                color: $white !important;
            }
        }
        &-navygreen {
            @extend .btn;
            background-color: $navygreen;
            color: $white !important;

            &:hover {
                background-color: $green;
                color: $white !important;
            }
        }
        
    }
}