div.header-spacer {
    height: 96px;
}
header.header {
    padding: 20px 25px;
    justify-content: space-between;
    border-bottom: 2px $green solid;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    .logo {
        width: 160px;
        height: 55px;
        > a > img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .info {
        justify-content: space-between;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        * {
            color: #0B252C;
            margin-bottom: 0;
            display: inline-block;
            vertical-align: middle;
        }
        a {
            margin-right: 30px;
        }
        i.fas {
            color: $green;
            margin-right: 10px;
            font-size: 22px;
        }
        .service {
            padding: 15px 30px;
            border: 1px solid $green;
            border-radius: 50px;

            &:hover {
                text-decoration: none;
                background-color: $green;
                color: $white;

                i {
                    color: $white;
                }
            }

            &.active {
                text-decoration: none;
                background-color: $green;
                color: $white;

                i {
                    color: $white;
                }
            }
        }
    }
    .burger {
        height: 25px;
        width: 39px;
        position: relative;
        cursor: pointer;
        transition: all ease-in-out 300ms;
        span {
            border-radius: 5px;
            width: 100%;
            height: 4px;
            background-color: $navygreen;
            position: absolute;
            left: 0;
            top: 0;
            transition: all ease-in-out 300ms;
            opacity: 1;
            &:nth-of-type(2) { top: 42.5%; }
            &:nth-of-type(3) { top: 85%; }
            &:nth-of-type(4) { transform: scale(0) rotate(45deg);} 
            &:nth-of-type(5) { transform: scale(0) rotate(-45deg); }
            &:nth-of-type(4), &:nth-of-type(5) { top: 9px; opacity: 0; }
        }
        &.toggled, &.banner-toggle {
            span {
                opacity: 0;
                &:nth-of-type(1), &:nth-of-type(3) { transform: translateX(-100%) scaleX(0); } 
                &:nth-of-type(2) { transform: translateX(100%) scaleX(0); }
                &:nth-of-type(4), &:nth-of-type(5) { opacity: 1; }
                &:nth-of-type(4) { transform: scale(1) rotate(45deg);} 
                &:nth-of-type(5) { transform: scale(1) rotate(-45deg); }
            }
        }
        &.banner-toggle { 
            span {
                background-color: $green;
            }
        }
    }

    .quick-contact {
        position: absolute;
        height: calc(100vh - 97px);
        top: 95px;
        left: 0;
        width: 100%;
        background-color: $white;
        border-top: 1px solid $navygreen;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .2s ease-in-out;
        padding: 15px;
        overflow-y: scroll;

        &.open {
            transform: scaleY(1);
        }

        .quick-contact-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 50px;

            h2 {
                color: $green;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 36px;
                border-bottom: 2px solid $border-grey;
                padding-bottom: 10px;
                margin-bottom: 50px;
                width: 100%;
                max-width: 500px;
            }

            .inner-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 500px;

                .contact-info {
                    padding-bottom: 50px;
                    margin-bottom: 50px;
                    border-bottom: 2px solid rgba($color: $border-grey, $alpha: 0.1);
                    
                    .phone-numbers,
                    .email {
                        position: relative;
                        padding-left: 55px;

                        i {
                            position: absolute;
                            left: 0;
                            top: 5px;
                            color: $green;
                            font-size: 22px;
                        }

                        p, a {
                            font-size: 20px;
                            margin-bottom: 0;
                            font-weight: 400;
                        }

                        a {
                            color: $black;
                            font-family: Sofia-pro, sans-serif;
                        }

                        .title {
                            color: $green;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    .phone-numbers {
                        .number {
                            margin-bottom: 30px;
                        }
                    }
                }

                .contact-form {
                    h3 {
                        color: $green;
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                    p {
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    input:not([type=submit]),
                    textarea {
                        border: none;
                        border-bottom: 2px solid rgba($color: $border-grey, $alpha: .5);
                        padding: 10px 0;
                        width: 100%;
                        font-size: 17px;
                        font-weight: 200;
                        transition: all .2s ease-in-out;

                        &:focus {
                            outline: none;
                            border-bottom: 2px solid $green;
                        }

                        &::placeholder {
                            font-size: 17px;
                            font-weight: 200;
                        }
                    }

                    textarea {
                        height: 150px;
                    }

                    [type=submit] {
                        border: none;
                        background-color: $green;
                        color: $white;
                        padding: 11px 80px;
                        border-radius: 40px;
                        margin-top: 30px;
                        transition: all .2s ease-in-out;

                        &:hover {
                            background-color: $navygreen;
                            color: $white;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .quick-contact-wrapper {
                align-items: flex-start;
                margin-left: 20%;
                margin-right: 20%;

                h2 {
                    font-size: 39px;
                    max-width: 800px;
                }
    
                .inner-wrapper {
                    flex-direction: row;
                    max-width: 800px;
    
                    .contact-info {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: none;
                        width: 50%;
                    }
    
                    .contact-form {
                        width: 50%;

                        h3 {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 20px 55px;
    }
}