.image-wrapper {  
    .skewed-grey-lines {
        position: absolute;
        display: none;
        width: 95px!important;
        height: 100px!important;
        transform: rotate(-225deg) rotateZ(180deg);
        left: 0;
        top: 0;
        z-index: 0;
    }
    img {
        position: relative;
        z-index: 1;
    }
    .deco { 
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none; 
        > * {
            position: absolute;
        }
        .scaling-svg-container.svg-arrow {
            &.arrow-grey-hollow {
                right: 0;
                top: calc(5% + 60px);
                width: 100px;
            }
            &.arrow-green-solid {
                left: 0;
                bottom: calc(10% + 60px);
                width: 100px;
                transform: rotate(180deg);
            }
        }
        .circle-green-lines {
            right: 0;
            bottom: 0;
            width: 70px!important;
            height: 70px!important;
        }
    }
    &.full, &.semi {
        padding: 35px;
        .deco, .skewed-grey-lines {
            display: block;
        }
    }
    @include media-breakpoint-up(lg) {
        .skewed-grey-lines {
            width: 143px!important;
            height: 185px!important;
        }
        .deco { 
            .circle-green-lines {
                width: 120px!important;
                height: 120px!important;
            }
        }
        &.full, &.semi {
            padding: 60px;
        }
    }
}