.nav-overlay {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;

    &.menu-open {
        visibility: visible;
        opacity: 1;
    }
}

nav.navigation {
    position: fixed;
    top: 0;
    right: -80%;
    width: 80%;
    height: 100vh;
    z-index: 1000;
    transition: all ease-in-out 300ms;
    background-color: $white;
    transition: all .2s ease-in-out;

    .close-btn {
        position: absolute;
        left: -25px;
        top: 30px;
        opacity: 0;
        transition: all .2s ease-in-out;

        &::after,
        &::before {
            position: absolute;
            content: '';
            display: block;
            top: 50%;
            left: 50%;
            height: 20px;
            width: 2px;
            background-color: $white;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 18px;

        li {
            a {
                padding: 18px 28px;
                font-size: 17px;
                text-transform: uppercase;
                display: block;
                color: $navygreen;
                font-weight: bold;
                border-bottom: 1px solid rgba($color: $navygreen, $alpha: .3);
            }

            &.current-menu-item {
                a {
                    background-color: $green;
                    color: $white;
                    border-bottom: px solid rgba($color: $green, $alpha: 1);
                }
            }
        }
    }

    .info {
        padding: 0 15px;

        .service {
            width: fit-content;
        }
    }

    &.open {
        right: 0;

        .close-btn {
            opacity: 1;
        }
    }
}

@include media-breakpoint-up(lg) {
    .nav-overlay {
        display: none;
    }

    nav.navigation {
        position: absolute;
        top: 95px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
    
        .close-btn {
            display: none;
        }
    
        ul {
            margin-top: 90px;
            margin-bottom: 0;
            width: 60%;
    
            li {
                a {
                    font-size: 25px;
                    display: inline-block;
                    border-bottom: none;
                    margin-left: 0;
                    transition: all .2s ease-in-out;

                    &:hover {
                        color: $green;
                        margin-left: 10px;
                        text-decoration: none;
                    }
                }
    
                &.current-menu-item {
                    a {
                        background-color: transparent;
                        color: $green;
                        border-bottom: none;
                    }
                }
            }
        }
    
        &.open {
            height: calc(100vh - 97px);
        }
    }
}