@mixin svgArrow($colour: $green) { 
    fill-rule:evenodd;
    &-solid { 
        fill-rule:evenodd;
        fill: $colour;
    }
    &-hollow { 
        fill-rule:evenodd;
        fill: none;
        stroke: $colour;
        stroke-width:2px;
    }
}

.arrow {
    &-green { @include svgArrow($green) }
    &-white { @include svgArrow($white) }
    &-grey { @include svgArrow(#707070) }
} 

.circle-green-lines {
    .a{fill:#84c200;}
}

.skewed-grey-lines {
    .a{fill:#707070;}
}

.Cabel_Logo {
    .a{fill:#ffffff}
}

.cabel_logo_w_deco {
    .a{
        isolation:isolate;
    }
    .b{
        fill:#0b252c;
    }
    .b,
    .c{
        fill-rule:evenodd;
    }
    .c{
        fill:none;
        stroke:#fff;
        stroke-width:2px;
    }
    .d{
        fill:#fff;
    }
}

.home_banner_arrow {
    .a{
        fill:#fff;
        opacity:0.291;
    }
    .b,
    .c,
    .d,
    .f{
        fill:none;
    }
    .b{
        stroke:#0a242c;
    }
    .b,
    .d{
        stroke-width:3px;
    }
    .c{
        stroke:#fff;
        stroke-linecap:round;
        stroke-width:6px;
    }
    .d{
        stroke:#f7f7f7;
    }
    .e{
        stroke:none;
    }
}