@mixin bp-fs($xs: 16px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    font-size: $xs;
    @media (min-width: 568px){ font-size: $sm; }
    @media (min-width: 768px){ font-size: $md; }
    @media (min-width: 992px){ font-size: $lg; }
    @media (min-width: 1200px){ font-size: $xl; }
}

@mixin h1-1 {
    @include bp-fs(40px, 50px, 60px, 70px, 80px); 
    font-weight: 900;
    letter-spacing: -2px;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}
@mixin h2-1 { 
    @include bp-fs(35px, 40px, 50px, 56px, 58px); 
    font-weight: 600;
    letter-spacing: -1.52px;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}
@mixin h3-1 {
    @include bp-fs(32px, 36px, 42px, 48px, 52px);
    font-weight: 600;
    letter-spacing: -1.3px;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}
@mixin h4-1 {
    @include bp-fs(28px, 32px, 36px, 40px, 43px);
    font-weight: 600;
    letter-spacing: -1.07px;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}
@mixin h5-1 {
    @include bp-fs(20px, 22px, 24px, 26px, 28px);
    font-weight: 400;
    letter-spacing: -0.56px;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}
@mixin h6-1 {
    @include bp-fs(17px, 18px, 20px, 21px, 22px);
    font-weight: 400;
    letter-spacing: -0.44px;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}
@mixin p-1 {
    @include bp-fs(16px, 17px, 17px ,18px ,18px);
    letter-spacing: -0.36px;
    font-weight: 300;
    font-family: Sofia-pro, sans-serif;
    color: $navygreen;
}

@mixin changeUnderlineColour($colour) { 
    &:after { background-color: $colour!important; } 
    span[style="text-decoration: underline;"], span[style="text-decoration: underline;"] * { 
        &:after { background-color: $colour; } 
    } 
}

@mixin wysiwygText() {
    h1 { @include h1-1; }
    h2 { @include h2-1; }
    h3 { @include h3-1; }
    h4 { @include h4-1; }
    h5 { @include h5-1; }
    h6 { @include h6-1; }
    p, ul li { @include p-1; } 
    span[style="text-decoration: underline;"], span[style="text-decoration: underline;"] *,
    span[style="text-decoration: underline;"], span[style="text-decoration: underline;"] * {
        text-decoration: none!important;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 100%;
            width: 100%;
            height: 7.5%;
            background-color: $green;
        } 
    }
    // Underline layering annoyance...
    span[style] {
        &:after { z-index: 0; }
        > span[style] { 
            &:after { z-index: 1; }
            > span[style] { 
                &:after { z-index: 2; }
                > span[style] { 
                    &:after { z-index: 3; }
                    > span[style] { 
                        &:after { z-index: 4; }
                        > span[style] { 
                            &:after { z-index: 5; }
                        }
                    }
                }
            }
        } 
    }
    span[style="color: #ffffff;"],
    span[style="color: #ffffff; text-decoration: underline;"]{ @include changeUnderlineColour($navygreen); } 
    span[style="color: #0a242c;"],
    span[style="color: #0a242c; text-decoration: underline;"] { @include changeUnderlineColour($green); } 
    span[style="color: #84c200;"],
    span[style="color: #84c200; text-decoration: underline;"] { @include changeUnderlineColour($green); } 
}

.wrapper{
    @include wysiwygText();
}