.wp-caption {
    background: lightgrey;
    padding: 5px;
    font-size: 13px;
    border: 1px solid darkgrey;

    img {
        max-width: 100%;
        height: auto;
    }
}

.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}

.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}

img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}