section.full-banner {
    height: $windowHeight;
    position: relative;
    background-color: $green;

    video {
        display: none;
    }

    .banner-img {
        background-color: $green;
        height: $windowHeight;
        position: absolute;
        top: 0;
        width: 100%;

        .banner-logo,
        .banner-arrow {
            position: absolute;
            left: 50%;
        }

        .banner-logo {
            max-width: 90%;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        .banner-arrow {
            bottom: 60px;
            transform: translateX(-50%);
            transition: all .2s ease-in-out;

            &:hover {
                transform: translateX(-50%) scale(0.8);
            }
        }

        .frame {
            @include centerBgImg;
            height: $windowHeight;
        }
    }

    @include media-breakpoint-up(xl) {
        video {
            display: block;
            height: $windowHeight;
            position: absolute;
            top: 0; 
        }

        .banner-img {
            opacity: 0;
            transition: all 1.5s ease-in-out;

            &.element-visible {
                opacity: 1;
            }
        }
    }
}