section.simple-layout {
    @include defaultPadding();
    @include centerBgImg;
    @include wysiwygText;
    &.bg-white {
        padding: 0;
        @include defaultPadding();
    }
    &.image {
        margin: 0;
        @include defaultPadding();
    }   
    .container {
        @include bp-my(-15px, -20px, -25px, -30px, -40px);
    }
    .basic-content {
        @include bp-my(15px, 20px, 25px, 30px, 40px);
        .image-wrapper {
            margin-bottom: 30px;  
        }
        .wysiwyg {
            > * {
                margin-bottom: 30px;
            }
            > *:last-child {
                margin-bottom: 0;
            }
        }
        .btn-wrapper {
            width: 100%;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }

    .narrow-heading {
        max-width: 730px;
        margin: 0 auto;
    }
}