section.three-col { 
    @include centerBgImg;
    @include defaultPadding(20px);
    .column-top {
        @include bp-mb(40px, 50px, 60px, 70px, 80px);
        h2 {
            @include bp-fs(48px, 52px, 56px, 60px, 64px);
        }
    }
    .content {
        h4 {
            @include bp-mb(30px, 30px, 30px, 35px, 40px);
        }
        p {
            font-weight: 100;
            line-height: 30px;
        }
        &-left {
            @extend .content;
        }
        &-right {
            @extend .content;
            max-width: 390px;
            margin-top: 40px;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }
    .icons {
        color: $white;
        &:first-of-type {
            margin-bottom: 45px;

            @include media-breakpoint-up(sm) {
                margin-bottom: 30px;
            }
        }
        h6 {
            @include bp-fs(14px, 20px, 22px, 24px, 26px);
        }
        .fas {
            position: relative;
            color: $white;
            font-size: 26px;
            margin-left: 16px;
            margin-right: 15px;
            min-width: 26px;
            min-height: 26px;
            &:after {
                content: '';
                position: absolute;
                width: 60px;
                height: 60px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
                border: 1px solid $green;
            }
        }
    }
}