$navHeight: 97px;
$windowHeight: calc(100vh - 97px);

// Font - Families
$sample: 'sample', 'sans-serif';

$fonts: (
    'sample': $sample,
);

// Font - Sizes
$font-sizes: (
    16: '16px',
    18: '18px',
    20: '20px',
    22: '22px',
);

// Colours
$white: #ffffff;
$grey: #f5f5f5;
$black: #000000;
$green: #84C200;
$navygreen: #0A242C;
$border-grey: #707070;

$colors: (
    'white': $white,
    'grey': $grey,
    'black': $black,
    'green': $green,
    'navygreen': $navygreen
); 