.scaling-svg-container {

    @at-root span#{&},
    & span {
        display: inline-block;
    }

    &:not(.max-width) {
        max-width: 100%;
    }

    &.max-width {
        width: 100%;
    }

    &.flip-x {
        transform: scaleX(-1);
    }

    .scaling-svg-inner {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 100%;

        >svg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}