.acf-image-uploader[data-preview_size="icon"] .image-wrap img[src$=".svg"] {
    min-height: 50px;
    min-width: 50px;
}

body#tinymce.wp-editor.mce-content-body.acf_content.mceContentBody {
    h1 { font-size: 24px; }
    h2 { font-size: 22px; }
    h3 { font-size: 20px; }
    h4 { font-size: 19px; }
    h5 { font-size: 18px; }
    h6 { font-size: 17px; }
    p { font-size: 16px; }
    * {
        &[data-mce-style="color: #ffffff;"] {
            text-shadow: 0 0 2px rgba(0,0,0,0.3);
        }
    }
}
 