footer.footer {
    @include defaultPadding;
    padding-bottom: 40px!important;
    background-color: $navygreen;
    * {
        color: $white;
        text-transform: uppercase;
        margin-bottom: 0;
        @media (max-width: 575.98px) {
            text-align: center;
        }
    }
    h3 {
        color: $green; 
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0px;
    }
    p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0px;
    }
    .item {
        margin-bottom: 30px;
    }
    .tel {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .logo-wrapper {
        max-width: 153px;
        margin-bottom: 30px;
        @media (min-width: 768px) {
            margin-right: 80px;
        }
        .logo {
            margin-bottom: 30px;
        }
    }
    .social-icons {
        a { 
            width: 32px;
            height: 32px; 
            margin: 0 auto;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background-color: $white;
            border-radius: 100%;
            transition: all ease-in-out 150ms;
            > i {
                color: $navygreen;
                transition: all ease-in-out 150ms;
            }
            &:hover {
                transform: translateY(-5px);
                > i {
                    color: $green;
                }
            }
        }
    }
    .footer-bottom {
        margin-top: 40px;
        padding-top: 25px;
        border-top: 1px solid #667980;
        margin-bottom: -5px;
        img {
            margin: 15px auto;
        }
    }
}

.tfa {
    background-color: #03171D;
    padding: 30px;
    a {
        text-decoration: none!important;
        h3 {
            font-size: 14px;
            text-align: center;
            color: $white;
            letter-spacing: 0;
            font-weight: 100;
            margin-bottom: 0;
        }
    }
}