// Margin
@mixin bp-mt($xs: 30px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    margin-top: $xs;
    @media (min-width: 576px) { margin-top: $sm;}
    @media (min-width: 768px) { margin-top: $md;}
    @media (min-width: 992px) { margin-top: $lg;}
    @media (min-width: 1200px) { margin-top: $xl;}
} 
@mixin bp-mb($xs: 30px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    margin-bottom: $xs;
    @media (min-width: 576px) { margin-bottom: $sm;}
    @media (min-width: 768px) { margin-bottom: $md;}
    @media (min-width: 992px) { margin-bottom: $lg;}
    @media (min-width: 1200px) { margin-bottom: $xl;}
}
@mixin bp-my($xs: 30px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    @include bp-mt($xs, $sm, $md, $lg, $xl);
    @include bp-mb($xs, $sm, $md, $lg, $xl);
}
// Padding 
@mixin bp-pt($xs: 30px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    padding-top: $xs;
    @media (min-width: 576px) { padding-top: $sm;}
    @media (min-width: 768px) { padding-top: $md;}
    @media (min-width: 992px) { padding-top: $lg;}
    @media (min-width: 1200px) { padding-top: $xl;}
} 
@mixin bp-pb($xs: 30px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    padding-bottom: $xs;
    @media (min-width: 576px) { padding-bottom: $sm;}
    @media (min-width: 768px) { padding-bottom: $md;}
    @media (min-width: 992px) { padding-bottom: $lg;}
    @media (min-width: 1200px) { padding-bottom: $xl;}
} 
@mixin bp-py($xs: 30px, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    @include bp-pt($xs, $sm, $md, $lg, $xl);
    @include bp-pb($xs, $sm, $md, $lg, $xl);
}
// Defaults
@mixin defaultPadding($e: 0px) {
    @include bp-py(30px+$e,40px+$e,60px+$e,80px+$e,100px+$e);
}
@mixin defaultMargin($e: 0px) {
    @include bp-my(30px+$e,40px+$e,60px+$e,80px+$e,100px+$e);
}

img {
    max-width: 100%;
}