body.home {
    .three-col {
        position: relative;
        padding-bottom: 390px;
        border-bottom: 2px solid $green;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/uk-map-outline.svg');
            background-size: 325px;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 105%;
            opacity: 0.2;
        }
    }

    @include media-breakpoint-up(lg) {
        .three-col {
            padding-bottom: 100px;
            background-image: url('../img/faded-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &::after {
                background-size: 600px;
                background-position-x: 95%;
                background-position-y: 50%;
            }
        }
    }
}