section.accordion {
    @include defaultMargin;
    background-color: $white;
    .item {
        border-bottom: 1px solid rgba(#707070, 0.5);
        &:first-child {
            .title {
                margin-top: 0;
            }
        }
        .title {
            @include bp-fs(22px, 26px, 30px, 34px, 38px);
            margin: 30px 0;
            cursor: pointer; 
            position: relative;
            span.cross {
                width: 25px;
                height: 25px;
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%);
                > span {
                    position: absolute;
                    background-color: $navygreen;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    &:nth-of-type(1) {
                        width: 3px;
                        height: 0;
                        transition: all ease-in-out 300ms;
                    }
                    &:nth-of-type(2) {
                        width: 100%;
                        height: 3px;
                    }
                }
            }
            &.collapsed {
                span.cross {
                    > span {
                        &:nth-of-type(1) {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .content {
            padding-bottom: 30px;
        }
    }
}