section.banner {
    @include wysiwygText(); 
    position: relative;
    overflow: hidden;
    .lines,
    .dashes,
    .circle,
    .green-arrows,
    .white-arrows {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lines {
        background-image: url('../img/lines/white-lines.svg');
        top: 0;
        right: 10%;
        width: 150px;
        height: 70px;
    }
    .dashes {
        background-image: url('../img/lines/skewed-grey-lines.svg');
        top: 0;
        left: 0;
        width: 55px;
        height: 70px;
        transform: translate(-50%, -50%);
    }
    .circle {
        background-image: url('../img/lines/circle-green-lines.svg');
        bottom: 25%;
        left: 0;
        width: 70px;
        height: 70px;
        transform: translateX(-50%);
    }
    .green-arrows {
        background-image: url('../img/arrows/green-hollow-arrow.svg');
        left: 0;
        bottom: 0;
        transform: translateY(50%) rotate(180deg);
        width: 150px;
        height: 38px;
    }
    .white-arrows {
        display: none;
    }
    > .container {
        position: relative;
        @include bp-py(120px, 140px, 180px, 220px, 260px);
    }
    .sprite {
        right: 0;
        bottom: 0;
        max-height: 100%; 
    }
    h1 {
        text-transform: uppercase;
        display: inline-block;
    }
    .arrow {
        width: 60px;
        height: 15px;
        position: absolute;
        transform: translateY(-50%);

        &:first-of-type {
            left: -10%;
            top: -60%;
            transform: translateY(-50%) rotate(180deg);
        }

        &:last-of-type {
            right: -10%;
            bottom: -100%;
        }

        @include media-breakpoint-up(lg) {
            width: 110px;
            height: 26px;
            &:first-of-type {
                left: -130px;
                top: 50%;
            }
    
            &:last-of-type {
                right: -130px;
                bottom: unset;
                top: 50%;
            }
        }
    } 

    @include media-breakpoint-up(lg) {
        .lines {
            right: 0;
            width: 330px;
            height: 150px;
        }
        .dashes {
            width: 110px;
            height: 140px;
            transform: translate(0);
            left: 15%;
        }
        .circle {
            width: 115px;
            height: 115px;
            transform: translateX(-50%);
        }
        .green-arrows {
            transform: translateY(50%) rotate(180deg);
            width: 400px;
            height: 101px;
        }
        .white-arrows {
            background-image: url('../img/arrows/white-hollow-arrow.svg');
            display: block;
            width: 180px;
            height: 45px;
            right: 0;
            bottom: 15%;
            transform: translateX(20px);
        }
    }
}