section.case-studies {
    @include defaultPadding();
    .column {
        @include bp-mb(30px, 40px, 50px, 60px, 70px);
    }
    .case-study {
        background-color: $white;
        transition: all ease-in-out 300ms;
        max-width: 362px;
        width: 100%;
        height: 100%;
        color: $white;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid rgba(#707070, 0.46);
        border-radius: 5px;  
        margin: 0 auto;
        .image {
            height: 312px;
            @include centerBgImg();
        }
        .content { 
            padding: 60px 30px; 
            text-align: center;
            overflow: hidden;
            * {
                transition: all ease-in-out 300ms;
                text-align: center;
            }
            h4 {
                width: 100%;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.7px;
                color: $green!important;
                margin-bottom: 20px;
            }
            h2 {
                font-size: 26px;
                font-weight: 600;
                letter-spacing: 0.26px;
                margin-bottom: 20px;
            }
            p { 
                width: 100%;
                opacity: 1;
                position: absolute;
                bottom: 40px;
                left: 0;
                margin-bottom: 0;
                font-size: 12px;
                color: #808080;
            }
            h6 { 
                transform: translateX(100%);
                width: 100%;
                opacity: 0;
                position: absolute;
                bottom: 40px;
                left: 0;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.45px;
                color: $white; 
                display: flex;
                align-items: center;
                justify-content: center;
                > span {
                    border-bottom: 2px solid $white;
                }
            }
        }
        &:hover {
            background-color: $navygreen;
            transform: translateY(-10px);
            .content {
                p {
                    opacity: 0;
                    transform: translateX(-100%);
                }
                h6 {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            * {
                color: $white;
            }
        }
    }
}