section.column-banner {
    background: #262423;
    ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
            .cd-project-title {
                
            } 
        }
    } 
    .cd-project-title {
        top: calc(50% - 9vw);
        @media (min-width: 1024px) {
            top: calc(50% - 4vw);
        }
        h2 {
            text-transform: uppercase;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: -2px;
            font-size: 9vw;
            color: $white;
            @media (min-width: 1024px) {
                font-size: 4vw;
            }
        }
    }
    .cd-projects-previews {
        height: $windowHeight;
        li {
            overflow: hidden;
            position: relative;
            .stripes,
            .arrows {
                position: absolute;
                z-index: 99999;
                opacity: 1;
                transition: all .2s ease-in-out;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .stripes {
                width: 150px;
                height: 70px;
            }
            &:nth-child(1) {
                .stripes {
                    background-image: url('../img/lines/white-lines-left.svg');
                    right: 0;
                    bottom: 0;
                    height: 150px;
                    width: 70px;
                }
                .arrows {
                    background-image: url('../img/arrows/white-hollow-arrow-3-right.svg');
                    width: 50px;
                    height: 17px;
                    top: 20%;
                    left: 20vw;
                    transform: translateY(-50%);
                }
            }
            &:nth-child(2) {
                .stripes {
                    background-image: url('../img/lines/white-lines.svg');
                    top: 0;
                    left: 0;
                    width: 150px;
                    height: 70px;
                }
                .arrows {
                    background-image: url('../img/arrows/white-solid-arrow-down.svg');
                    width: 17px;
                    height: 75px;
                    top: 65%;
                    left: calc(100% - 20vw);
                    transform: translateY(-50%);
                }
            }
            &:nth-child(3) {
                .stripes {
                    background-image: url('../img/lines/green-lines.svg');
                    bottom: 0;
                    left: 0;
                    width: 70px;
                    height: 150px;
                }
                .arrows {
                    background-image: url('../img/arrows/green-solid-arrow.svg');
                    width: 17px;
                    height: 75px;
                    top: 75%;
                    left: calc(100% - 35vw);
                    transform: translateY(-50%) rotate(-90deg);
                }
            }
            &:nth-child(4) {
                .stripes {
                    background-image: url('../img/lines/white-lines-up.svg');
                    bottom: 0;
                    right: 0;
                    height: 70px;
                    width: 150px;
                }
                .arrows {
                    background-image: url('../img/arrows/white-hollow-arrow-3-down.svg');
                    width: 17px;
                    height: 50px;
                    top: 5%;
                    left: 20%;
                    transform: translateY(-50%);
                }
            }
            &.selected { 
                transition: all 100ms; 
                opacity: 1;
                h2 {
                    opacity: 0;
                }
            }
            .img-bg {
                @include centerBgImg();
                top: 0;
                left: 0; 
            }
            .cd-project-title {
                h2 { 
                    transition: all ease-in-out 0.5s;
                }
                &.is-white {
                    h2 {
                        color: $navygreen;
                    }
                }
            }
            a {
                position: relative; 
                z-index: 1;
                opacity: 1;
                .colour-bg {
                    top: 0;
                    left: 0; 
                    transition: all 0.5s;
                }
            } 
            &:hover {
                .stripes,
                .arrows {
                    opacity: 0;
                }
                .cd-project-title {

                    h2 {
                        color: $white;
                    }
                }
                a {
                    .colour-bg {
                        transform: translateY(-100%);
                    }   
                }
            }

            @media only screen and (min-width: 1024px) {
                .stripes,
                .arrows {
                    position: absolute;
                    z-index: 99999;
                    opacity: 1;
                    transition: all .2s ease-in-out;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &:nth-child(1) {
                    .stripes {
                        right: 0;
                        width: 100%;
                        height: 100%;
                        max-height: 330px;
                        max-width: 150px
                    }
                    .arrows {
                        width: 110px;
                        height: 35px;
                        top: 275px;
                        left: 25%;
                    }
                }
                &:nth-child(2) {
                    .stripes {
                        left: unset;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        max-width: 330px;
                        max-height: 150px
                    }
                    .arrows {
                        height: 150px;
                        width: 35px;
                        top: 275px;
                        left: 25%;
                    }
                }
                &:nth-child(3) {
                    .stripes {
                        bottom: 3%;
                        width: 100%;
                        height: 100%;
                        max-height: 330px;
                        max-width: 150px
                    }
                    .arrows {
                        height: 150px;
                        width: 35px;
                        top: unset;
                        left: unset;
                        bottom: 55%;
                        right: 18%;
                        transform: translateY(-50%);
                    }
                }
                &:nth-child(4) {
                    .stripes {
                        width: 100%;
                        height: 100%;
                        max-width: 330px;
                        max-height: 150px
                    }
                    .arrows {
                        width: 35px;
                        height: 110px;
                        top: 20%;
                    }
                }
            }
        }
    }
    .cd-projects {
        height: $windowHeight;
        li {
            .preview-image {
                height: $windowHeight;
                @include centerBgImg();
            }
        }
    }
}