section.contact-form {
    @include defaultMargin;
    .content {
        @include wysiwygText();
        @include defaultMargin;
        margin-top: 0!important;
        * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .form {
        .g-recaptcha {
            margin-bottom: 20px;
        }
        border: 1px solid rgba(#707070, 0.5);
        h3 {
            @include bp-fs(22px, 26px, 30px, 34px, 38px);
            margin-bottom: 35px;
        } 
        span {
            display: block;
        }
        .contact {
            padding: 20px;

            p {
                margin: 0;
            }

            input, textarea {
                width: 100%;
                padding: 16px 16px 18px;
                margin-bottom: 13px;
                border: 1px solid #BCBCBC;
                font-size: 16px;

                &[type="submit"] {
                    background-color: $green;
                    text-align: center;
                    color: $white;
                    margin-bottom: 0;
                }
            }

            form > .wpcf7-form-control-wrap {
                transform: scale(0.8);
                transform-origin: 0;
            }

            @include media-breakpoint-up(lg) {
                padding: 60px;

                form > .wpcf7-form-control-wrap {
                    transform: scale(1);
                }

                .phone-email-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
    
                    p {
                        margin-right: 0;
                        width: calc(50% - 6px);
                    }
                }
            }            
        }
        .info {
            padding: 60px;
            height: 100%;
            width: 100%;
            * {
                color: $white;
            }
            h6 {
                font-weight: 300;
                letter-spacing: 0;
                &.address {
                    max-width: 262px;
                }
            }
            b {
                h6 {
                    font-weight: 600;
                    @include bp-fs(18px, 20px, 21px, 22px, 24px);
                }
            }
        }
    }
}