section.full-banner {
    height: $windowHeight;
    background-color: $green;
    position: relative;

    .banner-logo,
    .banner-arrow {
        position: absolute;
        left: 50%;
    }

    .banner-logo {
        max-width: 90%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .banner-arrow {
        bottom: 60px;
        transform: translateX(-50%);
        transition: all .2s ease-in-out;

        &:hover {
            transform: translateX(-50%) scale(0.8);
        }
    }

    .frame {
        @include centerBgImg;
        height: $windowHeight;
    }
}