section.icon-row {
    @include bp-py(20px, 30px, 35px, 45px, 55px);
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        > img {
            max-width: 108px;
            max-height: 108px;
        }
        .title {
            max-width: 300px;
        }
        h3 {
            color: $white; 
        }
        h6 {
            color: $white;
            text-align: center;
            margin: 20px 0 0;
            width: 170px;
        }
    }
    &.bg-green {
        * {
            color: $white;
        }
    }   
}