section.image-grid {
    border-top: 2px solid $green;
    .grid-item {
        @include centerBgImg();
        display: block;
        padding-bottom: 100%;
        text-align: center;
        * {
            position: absolute;
        }
        h5 {
            @include bp-fs(24px, 24px, 24px, 24px, 24px);
            max-width: 300px;
            width: 95%;
            font-weight: 600;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            opacity: 0;
            width: 100%;
            transition: all ease-in-out 300ms;
            transform: translate(-50%, -0%); 
            font-size: 100%;
        }
        &-overlay {
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $green;
            transition: all ease-in-out 300ms;
        }
        

        &-header {
            @extend .grid-item;
            position: relative;

            .grid-item-overlay {
                opacity: 0.8;
                background: linear-gradient($navygreen, rgba(0,0,0,0));
            }

            h4 {
                font-size: 7vw;
                top: 10%; 
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                letter-spacing: 1px;

                @include media-breakpoint-up(sm) {
                    font-size: 4vw;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 1.5vw;
                }
            }

            .plus {
                border: 3px solid $green;
                border-radius: 100px;
                width: 80px;
                height: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all .2s ease-in-out;

                &:after,
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $white;
                    transition: all .2s ease-in-out;
                }

                &::before {
                    width: 20px;
                    height: 5px;
                }

                &::after {
                    width: 5px;
                    height: 20px;
                }
            }

            &:hover {
                .plus {
                    height: 90px;
                    width: 90px;

                    &::before {
                        transform: translate(-50%, -50%) scale(0.8);
                    }
    
                    &::after {
                        transform: translate(-50%, -50%) scale(0.8);
                    }
                }
            }
        }

        &:hover {
            h5 { 
                opacity: 1;
                transform: translate(-50%, -50%); 
            }
            .grid-item-overlay {
                opacity: 0.8;
            }
        }
    }
}