section.title-section {
    @include defaultPadding(25px);
    @include centerBgImg;
    @include wysiwygText;
    color: $white;
    .content {
        max-width: 820px;
        margin: 0 auto;
    }
}